@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Oswald:wght@200&family=Pacifico&display=swap');

body {
    background-color:#78c5d7;
    font-family: oswald, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color:#78c5d7;
    font-family: oswald, sans-serif;

}
#logo_link{
    padding-top: 5px;
}
.home-title{
    font-family: oswald, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
nav a {
    text-align: center;
    color: #134266;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color:#78c5d7;
    color: white;
}
.home-title{
    color: #134266;
}
h4{
    color: #134266;
}
.book, .join {
    background-color:#78c5d7;
    color: #134266;
    text-decoration: none;
    font-family: oswald, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#78c5d7;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}

main section{    
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
h2 {
    margin: 0;
}

#background {
    background-color:#134266;
    height: 725px;
}
.msg{
    background-color:#78c5d7;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #134266;
}
.msg p {
    color: #134266;
    font-family: oswald, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.card-img{
    border: 10px solid black;
}
.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
    color: #134266;
    font-family: 'Macondo', cursive;
}
footer{
    background-color:#78c5d7;
    padding: 25px 50px;
    margin-top: 200px;
    font-family: 'Pacifico', cursive;
}
footer h3{
    color: #134266;
}
footer h3 a:hover{
    text-decoration: underline;
}
footer a {
    color: #134266;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}